.container{
    background: url(src/assets/images/header2.JPG);
    max-height: 100%;
    max-width: 100%;
    padding-bottom: 197px;
    background-repeat: no-repeat;
    text-align: center;
}

#navigationBar{
    
    /* text-align: center; */
    max-width: 100%; 
    font-size: 15px; 
    font-weight: bold;
    /* padding: 0; */
    /* position: relative; */
    /* margin-top: 50px; */
}

#listItems{
    margin: 0 auto;
}
