
<div class="container"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-info" id="navigationBar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="listItems" style="text-align:center;">
        <a class="nav-item nav-link" a [routerLink]="['/']">Home |</a>
        <a class="nav-item nav-link" a [routerLink]="['/running']">Runs |</a>
        <a class="nav-item nav-link" a [routerLink]="['/cycling']">Bike Rides |</a>
        <a class="nav-item nav-link" a [routerLink]="['/stampede']">Buffalo Stampede |</a>
        <a class="nav-item nav-link" a [routerLink]="['/leap-frog']">Leap Frog |</a>
        <a class="nav-item nav-link" a [routerLink]="['/scholarship']">Scholarship |</a>
        <a class="nav-item nav-link" a [routerLink]="['/mileage-matters']">Mileage Matters |</a>
        <a class="nav-item nav-link" a [routerLink]="['/join']">Join Us! |</a>
        <a class="nav-item nav-link" a [routerLink]="['/local-races']">Local Races |</a>
      </div>
    </div>
  </nav>
