
<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <div id="fb">
              
              <a href="https://www.facebook.com/Downstate-Delaware-Striders-Riders-125853217582264/" title="Facebook">Visit Us On Facebook!
              <img src="./assets/facebook_icon.png/">
              </a>
            </div>
              
            

             <!-- Facebook -->
             <!-- <div id="insta"> -->
              <!-- Visit us on Facebook<br>
              <a href="https://www.instagram.com/downstatedestriders/" title="Instagram">Visit us on Instagram</a>
              <img src="assets/instagram_icon.jpg">
            </div> -->
            
            <!--Instagram-->
            <!-- <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a> -->
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: DDSR
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

  <!-- <footer>
    <section id="footer_widgets" class="clearfix row">
      ::before
      <aside class ="grid_6>">
        <div id="sfsi-widget-3" class="widget sfsi" style="min-height: 73px;">
        <h4 class="widget-title">Follow Us!</h4>
      <div class="sfsi_widget" data-position="widget>"
      </div>
      </aside>
    </section>
  </footer> -->
