
<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <div id="fb">
              <img src="assets/facebook_icon.png">
              <a href="https://www.facebook.com/Downstate-Delaware-Striders-Riders-125853217582264/" title="Facebook"></a>

              
            

             <!-- Facebook -->
             <!-- <div id="insta"> -->
              <img src="assets/instagram_icon.jpg">
              <a href="https://www.instagram.com/downstatedestriders/" title="Instagram">Visit us on Instagram</a>
              
            </div>
            
            <!--Instagram-->
            <!-- <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a> -->
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: DDSR
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

