.container{
    background-color: rgb(120, 162, 187);
    max-width: 100%;
}
.footer-copyright{
    background-color: rgb(235, 235, 48);
}

/* .page-footer{
    background-color: cyan darken-3;

} */

/* .fb-ic{
    background: url(src/assets/images/facebook_icon.png);
} */