<p>footer works!</p>

<!-- Footer -->
<!-- <footer class="page-footer font-small special-color-dark pt-4" id="footer"> -->

    <!-- Footer Elements -->
    <!-- <div class="container" id="design-block">

        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
                <mdb-icon fab icon="facebook"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
                <mdb-icon fab icon="twitter"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
                <mdb-icon fab fab icon="google-plus"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item"> 
              <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
                <mdb-icon fab icon="linkedin"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
                <mdb-icon fab icon="dribbble"></mdb-icon>
              </a>
            </li>
          </ul>

    </div> -->
    <!-- Footer Elements -->

    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->

  <!-- </footer> -->
  <!-- Footer -->



<footer id="footer" class="text-white-50">

    <!-- <div id="design-block"></div> -->

    <div class="flex-container">
         <!--add social media href to actual DDSR links-->
        <div><a href="https://www.facebook.com/Downstate-Delaware-Striders-Riders-125853217582264/"><img src="src/assets/images/facebook_icon.png"></a></div>

        <div><a href="https://www.instagram.com/downstatedestriders/"><img src="src/assets/images/instagram_icon.png"></a></div>
    </div>

    <!-- <hr style="margin: 0 15%; border-top-color: #0AA59D;">  -->

    <!-- <div class="container text-center">
        <small>This site is managed by <a id="dtvWebsite" href="http://downtownwilmingtonde.com/about"><u>Downtown Visions</u></a>, Whose mission is to create, 
            manage and promote a quality environment for people who live, work, and 
            visit Downtown Wilmington</small>
    </div> -->
</footer>
