
<h1><strong>The DDSR Memorial Scholarship</strong></h1>

<h2>2020 DDSR Memorial Scholarship Guidelines:</h2>

<div class="text">
    The Downstate Delaware Striders and Riders are pleased to announce that the club will be awarding scholarships again in 2020.
    <br>
    There will be three (3) $500 DOWNSTATE DELAWARE STRIDERS AND RIDERS MEMORIAL SCHOLARSHIPS
    <br>
    <strong>The deadline for the scholarship application is April 30, 2020.</strong>
</div>

<h3>Eligibility for the Scholarship:</h3>
<div>
    <ul id="eligibility-criteria">
        <li>Graduating from a Kent County Delaware high school.</li>
        <li>A member of a cross country or track team for at least two years.</li>
        <li>GPA of 2.75 or higher.</li>
        <li>Accepted at a two-year or four-year college.</li>
        <li>Verification of the above four items.</li>
        <li>Letter of recommendation from your coach or teacher.</li>
        <li>A short essay, which is described in further detail below.</li>
    </ul>
</div>

<p>
    Essay:
</p>


<h2><u>Questions?</u></h2>
    <div class="text">
        Email our Scholarship Committee Director Julia Beatty at <u>ddsrscholarship@gmail.com</u>
    </div>
