
<h1><strong>The DDSR Memorial Scholarship</strong></h1>

<h2 id="guidelines-heading"><u>2020 DDSR Memorial Scholarship Guidelines:</u></h2>

<div id="intro-text">
    The Downstate Delaware Striders and Riders are pleased to announce that the club will be awarding scholarships again in 2020.
    <br>
    There will be three (3) $500 DOWNSTATE DELAWARE STRIDERS AND RIDERS MEMORIAL SCHOLARSHIPS.
    <br>
    <strong>The deadline for the scholarship application is April 30, 2020.</strong>
</div>

<div class="row">
    <div class="column">
        <h3><u>Eligibility for a Scholarship:</u></h3>
        <div id="eligibility-criteria">
            <ul>
                <li>Graduating from a Kent County Delaware high school.</li>
                <li>A member of a cross country or track team for at least two years.</li>
                <li>GPA of 2.75 or higher.</li>
                <li>Accepted at a two-year or four-year college.</li>
                <li>Verification of the above four items.</li>
                <li>Letter of recommendation from your coach or a teacher.</li>
                <li>A short essay, which is described in further detail below.</li>
                <li>A cover letter which includes all the items in the Checklist below.</li>
            </ul>
        </div>
    </div>
        
    <div class="column">
        <img src="../../assets/images/scholarship pic.PNG" style="width:75%" id="scholarship-pic">
    </div>
</div>

<h4 id="essay-heading"><strong>Essay:</strong></h4>
    <div id="essay-text">
        Your essay should be 500 words or less.  The essay topic that must be addressed is "How did physical fitness
        enhance your educational experience, and how do you plan to incorporate physical fitness into your life as you move forward into the future."
    </div>

    <div class="row">
        <div class="column">
            <h2><u>Checklist of Items</u></h2>
            <strong id="cover-letter">A cover letter with the following:</strong>
                <div class="checklist-items">
                    <ul>
                        <li>Name.</li>
                        <li>Address.</li>
                        <li>Phone Number.</li>
                        <li>Email Address.</li>
                        <li>High School.</li>
                        <li>GPA.</li>
                        <li>College or University admitted to.</li>
                        <li>Name of coach(es).</li>
                    </ul>

                    <strong id="addition-heading">In addition:</strong>
                    <ul>
                        <li>Verification of GPA.</li>
                        <li>Letter of recommendation from your coach or a teacher.</li>
                        <li>Your Essay.</li>
                        <li>Copy of acceptance letter to College or University.</li>
                    </ul>
                </div>
        </div>
            
        <div class="column">
            <img src="../../assets/images/checklist.jpg" style="width:75%" id="checklist-pic">
        </div>
    </div>

    <div class="row">
        <div class="column">
            <img src="../../assets/images/mail.PNG" style="width:75%" id="mail-pic">
        </div>
        
        <div class="column">
            <h2 id="submit-text"><u>How to submit your Scholarship Package</u></h2>
            <div class="address-text">
                <h4><strong>Postal Service Mail:</strong></h4>
                DDSR
                <br>Attn: Scholarship Committee
                <br>P.O. Box 1379
                <br>Dover, DE 19903
            </div>
            <div class="address-text">
                <h4><strong>Email:</strong></h4>
                <u>ddsrscholarship@gmail.com</u>
            </div>
        </div>
    </div>




    <!-- <h2><u>How to submit your Scholarship Package</u></h2>
    <div class="text">
        <h4><strong>Postal Service Mail:</strong></h4>
        DDSR
        <br>Attn: Scholarship Committee
        <br>P.O. Box 1379
        <br>Dover, DE 19903
    </div>

    <div class="text">
        <h4><strong>Email:</strong></h4>
        <u>ddsrscholarship@gmail.com</u>
    </div> -->

<h2><u>Questions?</u></h2>
    <div class="text">
        Email our Scholarship Committee Director Julia Beatty at <u>ddsrscholarship@gmail.com</u>
    </div>
