
<h1><strong>Local Rides and Area Clubs</strong></h1>

<h2><u>Thursday</u></h2>
    <div class="text">
        Ride begins at 6 p.m. sharp outside of Dave's Road Bikes.  Road and TRI, no drop.  This is a great ride for beginners and experienced cyclists
        alike with great support.  Overflow parking is available behind Dunkin' Donuts 
        and Pat's Pizza.  For questions call Dave's Road Bikes at 302-632-8448.
    </div>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJWRV6_Z98x4kReymUPx7PU3E&key=AIzaSyDPC9o04sa74U4F6x0eGlkZYSPXCYSftVQ" allowfullscreen class="map"></iframe>

<h2><u>Saturday</u></h2>
    <div class="text">
        Ride begins at 9 a.m. at Georgia Boy's Bagel Cafe in the Greentree Shopping Center parking lot.
        This is a very experienced group of riders so be prepared.  For questions please contact Glen Miller at 302-883-3177
        or 302-242-1954.  He can be reached by email at <u>glendo1987@yahoo.com</u>.
    </div>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJT9Qo72F7x4kRdNHfiiy1z80&key=AIzaSyDPC9o04sa74U4F6x0eGlkZYSPXCYSftVQ" allowfullscreen class="map"></iframe>

    <div class="row">
        <div id="column-logo">
            <a href="http://www.bikede.org" title="Bike Delaware">
                <img src="../../assets/images/bikede logo.PNG" id="bikeDE-logo"></a>
        </div>
        
        <div id="column-partner-description">
            <h2 id="partner-group-heading"><u>Partner Groups & Clubs in the Community</u></h2>
            <div class="bikeDE-text">
                <u><a href="http://www.bikede.org">Bike Delaware</a></u> advocates for safe, convenient and fun bicycling and walking for everyone.
                Their vision is that people of all ages, abilities and means choose to bicycle and walk for health, work and play. Delaware communities are connected by a bicycle-friendly transportation network, where all users interact safely and respectfully.
            </div>
        </div>
    </div>

    

    <div class="row">
        <div id="column-partner-description">
            <div class="wcbc-text">
                <u><a href="http://www.whiteclaybicycleclub.org">White Clay Bicycle Club</a></u> was established in 1973, the White Clay Bicycle Club (WCBC) consists of over 400 cyclists from Delaware, Maryland and Pennsylvania. We come in all shapes and sizes, 
                young and old, and all abilities with one very important factor in common—a love of cycling! We are “roadies” and tourists, racers, mountain and tandem bikers, commuters and daily riders, weekend and occasional riders, and even non-riders. 
                What keeps all of us going is our enthusiasm for health, camaraderie, the love of the outdoors and a desire to learn more about ourselves and our sport.
            </div>
        </div>
            
        <div id="column-logo">
            <a href="http://www.http://whiteclaybicycleclub.org/">
            <img src="../../assets/images/white clay bike club logo.PNG" style="width:75%" id="wcbc-pic"></a>
        </div>
    </div>

