h1{
    margin-left: 100px;
    padding-top: 20px;
    text-align: center;
}

.heading{
    color: rgb(89, 111, 177);
    margin-left: 100px;
    margin-top: 20px;
}

.text{
    margin-left: 100px;
    margin-right: 250px;
    font-size: 13pt;
}

/* #subHeading{
    margin-left: 50px;
    margin-right: 250px;
}

#list{
    margin-left: 50px;
    margin-right: 250px;
}
#details{
    margin-left: 50px;
    margin-right: 250px;
}

#additions{
    margin-left: 50px;
    margin-right: 250px;
}

#levels{
    margin-left: 50px;
    margin-right: 250px;
}

#winner-registration{
    margin-left: 50px;
    margin-right: 250px;
} */

