
<h1><strong>What is the Mileage Matters Program?</strong></h1>
<h2 class = "heading"><u>Mileage Matters Program</u></h2>

<p class="text">Striders and Riders collect points throughout the year to track their training and win prizes.  The point system is as follows:</p>

<ul class="text">
    <li>Running/Walking Miles (treadmill included) – 1 point per mile</li>
    <li>Biking (stationary bike included) – divide total miles by 3 (3 miles = 1 point)</li>
    <li>Tuesday/Saturday Run/Rides – 2 points + the number of miles run</li>
    <li>Club Meeting – 5 points</li>
    <li>Spin Classes – 6 points</li>
    <li>5 points for any volunteering for DDSR-related activities and events</li>
</ul>

<div class="text">
    To participate, you must have paid your annual club dues and you must submit your monthly points for the preceding month by no later than the end of the next month. Total points should be sent in monthly to <u>dd.striders.riders@gmail.com</u>. It is not necessary to itemize your points, just a monthly total. The program runs from January 1 – October 31. To participate in mileage matters, you must also submit your first monthly total of points by June 30.
</div>

<h2 class="heading"><u>New Addition to the Mileage Matters Program:</u></h2>
<div class="text">
    To participate in the Mileage Matters program, in addition to being a member and logging miles, members must also attend at least two club meetings per year OR volunteer for the club for at least three hours per year. Examples of ways to volunteer include volunteering for the Buffalo Stampede or the Leap Frog Bicycle Tour, serving as a club officer or a member of a DDSR committee (e.g. scholarship, marketing, or budget committees), participating in the club’s twice-yearly Adopt-a-Highway cleanup, or assisting DDSR in providing timing support for other races.
    <p></p>
    <p>The program runs from January 1 - October 31</p>
</div>

<ul class="text">
    <li>Level 5:   Over 1200 points</li>
    <li>Level 4:   1001 - 1200 points</li>
    <li>Level 3:    801 - 1000 points</li>
    <li>Level 2:    601 - 800 points</li>
    <li>Level 1:    400 - 600 points</li>
</ul>

<div class="text">
    All participants will receive a prize, with different prizes given for each different level.  All participants will have their name written on a piece of paper and put into a drawing.  A winner will be chosen, and the club will pay the winner’s registration fee for any event they wish to participate in the following year.  (Up to $75 and for only one event).  The more points you accumulate, the more chances you have to win overall.
    <p></p>
    <p><i>Updated: December 2018</i></p>
</div>

