.heading{
    margin-left: 50px;
    margin-top: 20px;
}

#subHeading{
    margin-left: 50px;
    margin-right: 250px;
}

#list{
    margin-left: 50px;
    margin-right: 250px;
}
#details{
    margin-left: 50px;
    margin-right: 250px;
}

#additions{
    margin-left: 50px;
    margin-right: 250px;
}

#levels{
    margin-left: 50px;
    margin-right: 250px;
}

#winner-registration{
    margin-left: 50px;
    margin-right: 250px;
}

