
<h2 class = "heading">Mileage Matters Program</h2>
<p id="subHeading">Striders and Riders collect points throughout the year to track their training and win prizes.  The point system is as follwos:</p>
<ul id = "list">
    <li>Running/Walking Miles (treadmill included) – 1 point per mile</li>
    <li>Biking (stationary bike included) – divide total miles by 3 (3 miles = 1 point)</li>
    <li>Tuesday/Saturday Run/Rides – 2 points + the number of miles run</li>
    <li>Club Meeting – 5 points</li>
    <li>Spin Classes – 6 points</li>
    <li>5 points for any volunteering for DDSR-related activities and events</li>
</ul>
<div id="mileage-matters=details">
    To participate, you must have paid your annual club dues and you must submit your monthly points for the preceding month by no later than the end of the next month. Total points should be sent in monthly to <u>dd.striders.riders@gmail.com</u>. It is not necessary to itemize your points, just a monthly total. The program runs from January 1 – October 31. To participate in mileage matters, you must also submit your first monthly total of points by June 30.
</div>
<h2 class = "heading">New Addition to the Mileage Matters Program:</h2>
<div id= "additions">
    To participate in the Mileage Matters program, in addition to being a member and logging miles, members must also attend at least two club meetings per year OR volunteer for the club for at least three hours per year. Examples of ways to volunteer include volunteering for the Buffalo Stampede or the Leap Frog Bicycle Tour, serving as a club officer or a member of a DDSR committee (e.g. scholarship, marketing, or budget committees), participating in the club’s twice-yearly Adopt-a-Highway cleanup, or assisting DDSR in providing timing support for other races.
</div>

