
<!-- 
The proposed change involves the number of meetings with all members. 
They are proposing to have meetings in January, May, June, and October 
(in lieu of meetings: August has a BBQ and December has the holiday party). 
The Executive committee will meet every month. The Executive board will consist 
of the officers and 3 members-at-large, who are appointed by the president -->
<div class="flex-container">
<h1>Meeting Schedule</h1>

<div>
    <h3 id="heading"><u>DDSR will hold meetings for all members during the following months:</u></h3>
    <ul class="text">
        <li>January</li>
        <li>May</li>
        <li>June</li>
        <li>August - Summer Picnic</li>
        <li>October</li>
        <li>December - Holiday Party</li>
    </ul>

    <div class="text">
        The Executive Committe will meet every month, and all members are invited to join.  The Executive Committee consists
        of the Executive Board (all elected officers) and 3 members-at-large.
    </div>

    <div>
        <h4 id="heading"><strong><u>Executive Board Officers:</u></strong></h4>
        <div class="text">
            <strong>President:</strong> Bonnie Ingram
            <br><strong>Vice President:</strong> Christine McDermott
            <br><strong>Treasurer:</strong> Jodie Weidel
            <br><strong>Secretary:</strong> ?
        </div>
        
        <h4 id="heading"><strong><u>Members-At-Large:</u></strong></h4>
        <div class="text">
                ?
            <br> ?
            <br> ?
        </div>
        
        <h4 id="heading"><strong><u>Committee Chairs:</u></strong></h4>
        <div class="text">
            <strong>DDSR Memorial Scholarship:</strong> Julia Beatty
            <br><strong>Leap Frog Bicycle Tour:</strong> Andy Jakubowitch
            <br><strong>Buffalo Stampede:</strong> Chuck Connor
        </div>  
    </div>
</div>

<h2><u>Interested in Getting Involved?</u></h2>
    <div id="email-text">
        Email: <u>dd.striders.riders@gmail.com</u>
    </div>

</div>