h1{
    text-align: center;
    color: rgb(89, 111, 177);
    margin-left: 4%;
    margin-top: 2%;
}

#subHeading{
    text-align: center;
    margin-left: 4%;
    margin-top: 2%;
}

#maps-heading{
    color: rgb(89, 111, 177);
    margin-top: 13%;
    margin-left: 32%;
}

#date {
    font-size: larger;
    text-align: center;
    margin-top: 2%;
}

#register-online{
    margin-left: 35%;
    margin-right: 4%;
}

.buttons{
    margin-top: 4%;
    margin-bottom: 4%;
}

.text{
    font-size: 13pt;
    margin-left: 4%;
    padding-right: 235px;
    margin-bottom: 3%;
}

a{
    font-size: larger;  
}

#results-link{
    font-size: 13pt;
    margin-bottom: 35px;
    margin-left: 50px;
}

#awards, #description, #previous-results{
    color: rgb(89, 111, 177);
}

#questions{
    color: rgb(89, 111, 177);
    margin-left: 50px;
}

.column{
    float: left;
    width: 50%;
    padding: 5px;  
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

.clear{
    clear: both;
}

.links{
    margin-left: 220px;
    font-size: larger;
}

img{
    margin-top: 20px;
    max-width: 485px;
    max-height: 330px;
}

#caption-raceStart{
    margin-right: 29%;
}
