<h1>Great Wyoming Buffalo Stampede 5K/10K</h1>
<h2>42nd Annual Great Wyoming Buffalo Stampede</h2>
<div >
    <div id="date">
        <strong>
            5K and 10K
            <br>Saturday, July 11, 2020
            <br>7:30 a.m. (New Start Time)
        </strong>
    </div>
</div>
<div class="buttons">
    <a class="btn btn-success" href="https://runsignup.com/Race/DE/Wyoming/GreatWyomingBuffaloStampede5k10k2020" role="button" title="Register Online" id="register-online">Register Online</a>
    <a class="btn btn-success" href="../../assets/2020-Buffalo-Stampede-5K-10K.pdf" role="button" title="Mail In Registration" id="mail-in">Mail In Registration</a>
</div>
<div class="text"> 
    <h4><u>Race Description and Ammentites</u></h4>
    Starting and ending at Wyoming Park, the route takes participants through orchards and on country roads before finishing back in the small picturesque town of Wyoming, DE. Water is available throughout the course. As participants cross the finish line, they will be greeted with cold towels and the feeling of accomplishment.
    Water is available in the park, along with peaches and watermelon, courtesy of Fifer Orchards and Camden Wyoming Market.  Back at Wyoming Park, the after race party will include the awards ceremony, music, food trucks and beer. Over 21 participants are able to enjoy one free beer from Brown's Tavern.
</div>

