#heading, #subHeading{
    margin-left: 50px;
    margin-top: 20px;
}

#textList, #costText{
    font-size: 14pt;
    margin-left: 50px;
    margin-top: 20px;
    padding-right: 210px;
}

.subHeading{
    color: rgb(89, 111, 177);
    margin-left: 50px;
    margin-top: 20px;
}

#joinButton{
    padding-top: 25px;
    padding-left: 200px;
    padding-bottom: 25px;
}

.column{
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

img{
    width: auto;
    height: auto;
    margin-left: 13%;
}

#caption-groupRun{
    float: left;
    margin-left: 13%;
    margin-bottom: 5px;
}

#caption-xmas{
    float: right;
    margin-right: 26%;
    margin-bottom: 5px;
}

.clear{
    clear: both;
}

#email-text{
    font-size: 14pt;
    margin-left: 50px;
    margin-bottom: 35px;
}