<h1 id="heading"><strong>Why Join DDSR?</strong></h1>
<h3 class="subHeading"><u>Just a few great reasons to join the Striders & Riders</u></h3>

<div class="row">
    <div class="column">
        <h3><u>Eligibility for a Scholarship:</u></h3>
        <div id="eligibility-criteria">
            <ul>
                <li>Graduating from a Kent County Delaware high school.</li>
                <li>A member of a cross country or track team for at least two years.</li>
                <li>GPA of 2.75 or higher.</li>
                <li>Accepted at a two-year or four-year college.</li>
                <li>Verification of the above four items.</li>
                <li>Letter of recommendation from your coach or a teacher.</li>
                <li>A short essay, which is described in further detail below.</li>
                <li>A cover letter which includes all the items in the Checklist below.</li>
            </ul>
        </div>
    </div>
        
    <div class="column">
        <img src="../../assets/images/scholarship pic.PNG" style="width:75%" id="scholarship-pic">
    </div>
</div>





<div>
    <ul id="textList">
        <li>Runners receive automatic membership in the Road Runners Club of America (RRCA), which includes insurance coverage at all races. This only applies to those who state they are runners on the application.</li>
        <li>Cyclists (all members in the club) will receive insurance coverage for club rides through the League of American Bicyclists (LAB).</li>
        <li>Get discount membership to League of American Bicyclists.</li>
        <li>Meet with others in the community who enjoy running and cycling.</li>
        <li>Ability to cross train or partner with other athletes for duathlons and triathlons.</li>
        <li>Improve your overall fitness and running or cycling performance by working with others to achieve your personal fitness goals.</li>
        <li>Support the running and cycling community by volunteering at local events.</li>
        <li>Car pool with members to regional races and rides.</li>
        <li>Holiday and Summer parties, and breakfast runs throughout the year.</li>
        <li>Volunteer opportunties at local races and our Adpot a Highway cleaning</li>
    </ul>
</div>

<div id="costText">The cost is $25 annually for new members and $20 for renewals. Please fill out and submit the membership form below. Please be sure to fill out all required fields of the membership for, agree to the waiver, print, and mail in both the form and your payment.
    Please take the time to read the club’s bylaws, which can be found 
    <a href="../../assets/DDSR-BYLAWS.pdf" title= "DDSR Bylaws" target="_blank"><u>HERE.</u></a>
    If you are renewing your membership, you can use the same form, just be sure to select the renewal option.
</div>

<div id="joinButton">
    <a href="https://form.jotform.com/93244433123146" target="_blank">
        <button type="button" class="btn btn-success btn-lg" title="Join DDSR!">Become a Member!</button>
    </a>
</div>

<div class="row">
    <div class="column">
        
        <img src="../../assets/images/Group Run.jpg" style="width:75%">
        
        <div id="caption-groupRun" style="float:left">
            Club Members on a weekend morning group run.
        </div>    
    </div>
        
    <div class="column">
        <img src="../../assets/images/xmas party.jpg" style="width:75%">
        <div id="caption-xmas" style="float:right">
            Club Members celebrating the holidays and an anniversary.
        </div>
    </div>
</div>

<h3 class="subHeading"><u>Questions?</u></h3>
    <div id="email-text">
        Email us at <u>dd.striders.riders@gmail.com</u>
    </div>

