<h2 id="heading"> Why Join DDSR?</h2>
<h3 id="subHeading">Just a few great reasons to join the Striders & Riders</h3>
<div id="List">
<ul id="textList">
    <li>Runners receive automatic membership in the Road Runners Club of America (RRCA), which includes insurance coverage at all races. This only applies to those who state they are runners on the application.</li>
    <li>Cyclists (all members in the club) will receive insurance coverage for club rides through the League of American Bicyclists (LAB).</li>
    <li>Get discount membership to League of American Bicyclists.</li>
    <li>Meet with others in the community who enjoy running and cycling.</li>
    <li>Ability to cross train or partner with other athletes for duathlons and triathlons.</li>
    <li>Improve your overall fitness and running or cycling performance by working with others to achieve your personal fitness goals.</li>
    <li>Support the running and cycling community by volunteering at local events.</li>
    <li>Car pool with members to regional races and rides.</li>
    <li>Holiday and Summer parties, and breakfast runs throughout the year.</li>
    <li>Volunteer opportunties at local races and our Adpot a Highway cleaning</li>
</ul>
</div>
<div id="costText">The cost is $25 annually for new members and $20 for renewals. Please fill out and submit the membership form below. Please be sure to fill out all required fields of the membership for, agree to the waiver, print, and mail in both the form and your payment.
    Please take the time to read the club’s bylaws, which can be found 
    <a href="../../assets/DDSR-BYLAWS.pdf" title= "DDSR Bylaws" target="_blank"><u>HERE.</u></a>
    If you are renewing your membership, you can use the same form, just be sure to select the renewal option.
</div>

<div id="joinButton">
    <button type="button" class="btn btn-primary" onclick="window.location.href = 'https://form.jotform.com/93244433123146';" title="Join DDSR!" target="_blank">Join Us!</button>
</div>