#heading{
    margin-left: 50px;
    margin-top: 20px;
}

#subHeading{
    margin-left: 50px;
    margin-right: 250px;
}

#textList{
    margin-left: 50px;
    margin-right: 250px;
}

#costText{
    margin-left: 50px;
    margin-right: 250px;
}

#joinButton{
    padding-top: 20px;
    padding-left: 100px;
}