
<h1>Interested in Particpating in Local Races?</h1>

<div class="text">
    From north to south and in between, if you're looking for a race to test your fitness,  Delaware 
    has a race for you.  You can choose race distances from 1 mile to full and ultra marathons.  There are races
    at the beach, in the cities, and on the trails of our state parks.  Check out the links below for a race near you!  
</div>

<h3><u>Central Delaware</u></h3>
    <div class="text">
        If you're local to the central Delaware area, rest assured TriSports Charitable Events has a race for you!
        <a href="http://www.trisportsevents.com" target="_blank">
            <img src="../../assets/images/triSports logo.PNG" title="TriSports Events">
        </a>
    </div>

<h3><u>Northern Delaware and the Beaches</u></h3>
    <div class="text">
        For events primarly held at the beach or in the northern Delaware area, Races2Run has you covered.
        <a href="http://www.races2run.com" target="_blank">
            <br><img src="../../assets/images/races2run logo.PNG" title="Races2Run">
        </a>
    </div>

<h3><u>Southern Delaware and the Beaches</u></h3>
    <div class="text">
        For races almost exclusively in Southern Delaware and the beach areas, and utilizing some of the wonderful Delaware State park trails,
         look no farther than the Seashore Striders.
        <a href="http://www.seashorestriders.com" target="_blank">
            <br><img src="../../assets/images/seashore striders logo.PNG" title="Seashore Striders">
        </a>
    </div>

<h3><u>Local, Regional, National</u></h3>
    <div class="text">
        Not sure exactly what you're looking for?  Looking for a race to run in another state or while you're away on vacation?
        RunningInTheUSA is your one stop shop to find races of all distances and surfaces, even multi-sport events.
        <a href="http://www.runningintheusa.com" target="_blank">
            <br><img src="../../assets/images/runningUSA logo.PNG" title="Seashore Striders" id="runUSA">
        </a>
    </div>
