#heading{
    color: rgb(89, 111, 177);
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 250px;
}

.text{
    font-size: 14pt;
    padding-left: 50px;
    padding-right: 150px;
    padding-bottom: 25px;
}

h3{
    color: rgb(89, 111, 177);
    margin-left: 50px;
}

#start-pic{
    max-height: 275px;
    max-width: 325px;
    border: 5px solid rgb(166, 134, 207)
}

.row{
    float: left;
}

.clear{
    clear: both;
}

a{
    font-size: larger;
}