

    <h2 id ="heading">Who are The Downstate Delaware Striders and Riders (DDSR)?</h2>
    <div class="container-fluid">
            <span>
                <div class="text row col-md-8" style="float: left;">
                    DDSR includes everyone from casual athletes to serious competitors.
                    We are a group of men and women who enjoy running and cycling in Kent county, DE. 
                    The club includes runners and cyclists of all abilities ranging from those who pursue running and cycling purely for enjoyment, to those athletes who compete seriously in area rides, road races, duathlons and triathlons. Membership is open to anyone with a recreational or competitive interest in running or cycling.
                    Club sponsored events benefit the DDSR Memorial Scholarship, and donations to many organizations to include Adopt-a-Family, Adopt-A-Student and Give a Kid a Chance.
                </div>
            
                <div class="row col-md-4" style="float: right;">
                    <img src="../../assets/images/Feet In warm.PNG" >
                </div>
        </span>
    </div>

    <h3><u>Interested?</u></h3>
        <div class="text">
            <a [routerLink]="['/join']" title= "Join Us!"><u>CLICK HERE</u></a>
            to find out more about the benefits of joining.
        </div>

    
            

