

    <h2 id ="heading">Who are The Downstate Delaware Striders and Riders (DDSR)?</h2>
        <div id="text">
            DDSR includes everyone from casual athletes to serious competitors.
            We are a group of men and women who enjoy running and cycling in Kent county, DE. 
            The club includes runners and cyclists of all abilities ranging from those who pursue running and cycling purely for enjoyment, to those athletes who compete seriously in area rides, road races, duathlons and triathlons. Membership is open to anyone with a recreational or competitive interest in running or cycling.
        </div>

        <h3>Interested?</h3> 
        <p>
            <a [routerLink]="['/join']" title= "Join Us!"><u>CLICK HERE</u></a>
            to find out more about the benefits of joining.
        </p>
            

