h1, h3{
    margin-left: 50px;
    margin-top: 15px;
    color: rgb(89, 111, 177);
}

h2{
    margin-left: 50px;
}

.text{
    font-size: 14pt;
    margin-left: 50px;
    margin-right: 15%;
}

#text-stampede{
    font-size: 16pt;
    margin-left: 50px;
}

.Tues-maps{
    float: left;
    margin-left: 55px;
    padding-bottom: 15px;
}

.clear{
    clear: both;
}

#CRHS-map{
    margin-right: 40px;
}

#bagel-map{
    margin-left: 25%; 
}

#ymca-map{
    margin-left: 25%;
    padding-bottom: 25px;
}