<h1><strong><u>Runs</u></strong></h1>
<p class="text">For details on our Great Wyoming Buffalo Stampede 5K/10K run, click <a id="stampede-link" a [routerLink]="['/stampede']"><u>HERE.</u></a></p>

<h2><u>Regular Group Runs</u></h2>
<!-- <p></p> -->
<h3>Tuesdays</h3>
<p class="text"><strong><u>During daylight saving time,</u></strong> runs start in the Caesar Rodney High School parking lot at 6 p.m. near the sidewalk by the entrance. Various distances and speeds depend on the runners who participate. 
    We use the Brecknock Park trail for a large portion of the run and add additional distance as desired. To add some variety, the last Tuesday of the month run is held at Fraizer’s restaurant in Dover. 
    Meet in the parking lot at 6 p.m. If you would like to puchase dinner, the point of contact submits the dinner order before departure (runners are asked to place order via e-mail or arrive a little early to submit order in person). 
    Run distances vary and group runs through downtown Dover.  Members should check GroupMe for updates.
</p>
<h3>Saturdays</h3>
<p class="text">Runs typically start between 6 a.m. and 8 a.m. depending on participants at Georgia Boy’s Bagel Cafe in Greentree Village, Route 8, Dover.  This run is held <strong>year-round</strong>; again, the speed and distance vary depending on the participants.
    Members should check GroupMe for updates.
</p>
<h3>Sundays</h3>
<p class="text">
    Runners meet outside of the Dover YMCA betweem 6 a.m. and 8 a.m. This run is also held <strong>year-round</strong>.  Members should check GroupMe for updates.
</p>




    

