h1, h3{
    margin-left: 50px;
    margin-top: 15px;
    color: rgb(89, 111, 177);
}

h2, .text{
    margin-left: 50px;
    margin-right: 250px;
}

/* .text{
    margin-left: 50px;
    margin-right: 250px;
} */
