<h1><strong><u>Runs</u></strong></h1>
<p id="text-stampede">For details on our Great Wyoming Buffalo Stampede 5K/10K run, click <a id="stampede-link" a [routerLink]="['/stampede']"><u>HERE.</u></a></p>

<h2><u>Regular Group Runs</u></h2>
<!-- <p></p> -->
<h3><strong>Tuesdays</strong></h3>
<p class="text"><strong><u>During daylight saving time,</u></strong> runs start in the Caesar Rodney High School parking lot across from Meeting House Lane at 6 p.m. near the sidewalk by the entrance. Various distances and speeds depend on the runners who participate. 
    We use the Brecknock Park trail for a large portion of the run and add additional distance as desired. To add some variety, the last Tuesday of the month run is held at Fraizer’s restaurant in Dover. 
    Meet in the parking lot at 6 p.m. If you would like to puchase dinner, the point of contact submits the dinner order before departure (runners are asked to place order via e-mail or arrive a little early to submit order in person). 
    Run distances vary and group runs through downtown Dover.  Members should check GroupMe for updates.
</p>

<!-- <div class="links">  Possible use of Links to Map locations so as not to incur any fees.
    <a href="https://www.google.com/maps/place/Caesar+Rodney+High+School/@39.1174016,-75.5405197,362m/data=!3m1!1e3!4m5!3m4!1s0x89c77ce00965790f:0xe421a8f3e06d1dea!8m2!3d39.1182108!4d-75.5414873" target="_blank">View Map of Caesar Rodney High School</a>
    <br>
    <a href="https://www.google.com/maps/place/Fraizer's/@39.1589933,-75.5223016,430m/data=!3m1!1e3!4m5!3m4!1s0x89c764a947a257a7:0x5a26dc5e21e818b!8m2!3d39.1595493!4d-75.5203223" target="_blank">View Map of Fraizer’s Restaurant</a>
</div> -->

<div class="Tues-maps">
    <iframe width="600" height="450" style="float:left" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJD3llCeB8x4kR6h1t4POoIeQ&key=AIzaSyDPC9o04sa74U4F6x0eGlkZYSPXCYSftVQ" allowfullscreen title="Caesar Rodney High School" id="CRHS-map" ></iframe>
    <iframe width="600" height="450" style="float:right" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Fraziers%2C%20Dover%20DE&key=AIzaSyDPC9o04sa74U4F6x0eGlkZYSPXCYSftVQ" allowfullscreen title="Frazier's Restaurant" ></iframe>
</div>

<div>
    <h3><strong>Saturdays</strong></h3>
    <p class="text">Runs typically start between 6 a.m. and 8 a.m. depending on participants at Georgia Boy’s Bagel Cafe in Greentree Village, Route 8, Dover.  This run is held <strong>year-round</strong>; again, the speed and distance vary depending on the participants.
        Members should check GroupMe for updates.
    </p>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJT9Qo72F7x4kRdNHfiiy1z80&key=AIzaSyDPC9o04sa74U4F6x0eGlkZYSPXCYSftVQ" allowfullscreen title="Georgia Boy’s Bagel Cafe" id="bagel-map"></iframe>
</div>


<div>
    <h3><strong>Sundays</strong></h3>
    <p class="text">
        Runners meet outside of the Dover YMCA betweem 6 a.m. and 8 a.m. This run is also held <strong>year-round</strong>.  Members should check GroupMe for updates.
    </p>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJSeYqAk5jx4kRQ2nzu2WYaG8&key=AIzaSyDPC9o04sa74U4F6x0eGlkZYSPXCYSftVQ" allowfullscreen title="Dover YMCA" id="ymca-map"></iframe>
</div>




    

