
<h1>The 2020 Leap Frog Bicycle Tour</h1>

<div >
    <div id="date">
        <strong>
            Saturday, June 13, 2020
            <br>8:00 a.m.
        </strong>
    </div>
</div>

<div id="ride-text">
    Enjoy one of two rides  – either a 1/2 metric century (32 miles) – which will challenge beginners and intermediate riders, 
    <br>or the full metric century (about 64 miles) for more experienced cyclists.
    <br><strong><u>**Helmets are required and it’s your responsibility to ensure your equipment is in sound mechanical condition prior to starting this event.**</u></strong>
</div>

<div class="buttons">
    <a class="btn btn-success" href="https://www.active.com/felton-de/cycling/races/leap-frog-bicycle-tour-2019" role="button" title="Register Online" id="register-online" target="_blank">Register Online</a>
    <a class="btn btn-success" href="../../assets/2020-Leapfrog-Application-1-28-20.pdf" role="button" title="Mail In Registration" id="mail-in" target="_blank">Mail In Registration</a>
</div>

<div class="row">
    <div class="column">
        <h2><u>Ride Route</u></h2>
        <div id="route-text">
            A leap from pond-to-pond in central and southern Delaware. The courses are laid out to offer a unique look at the beautiful wet and dry scenery of central and lower Delaware. 
            Ride routes are mostly flat. There are two rest stops for the full metric century ride and one for the half metric century. Rest room facilities, food and drink will be available at all stops and the finish.  
            SAG support is provided.
        </div>
    </div>
        
    <div class="column">
        <img src="../../assets/images/leapFrog restStop.jpg" style="width:75%" id="restStop-pic">
        <div id="caption-restStop" style="float:right">
            Club members ready to greet riders at one of the rest stops.
        </div>
    </div>
</div>
 
<div class="row">
    <div class="column-cue">
        
        <img src="../../assets/images/leapFrog on Road.jpg" style="width:75%" id="leapFrog-road">
        <div id="caption-leapFrogRoad" style="float:left">
            Painted Leap Frogs help riders find their way.
        </div>
    </div>
    
    <div class="column-cueText">
        <h2 id="cueHeading"><u>Cue Sheets</u></h2>
        <div id="cueSheet-text">
            Both routes are defined by the yellow frog markings on the road. The two route splits are well marked by both frog markers, distances and signs. 
            You don’t have to decide which route you’ll take until the first route split at about 14 miles. You may vary your distance at either point. 
            There are four or more frogs marking each turn. A warning frog before the turn, another warning frog near the turn and a frog marking the turn. A further confirmation frog always appears after the turn. 
            <strong><u>Follow the frogs.</u></strong>
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <h2><u>Rider Support</u></h2>
        <div id="route-text">
            Support and Gear (also known as SAG) vehicles will continuously patrol the loops for riders with physical or mechanical problems. 
            Technical assistance will be provided. Ride support starts at 8 a.m. and ends at 2:00 p.m.
            There are two rest stops for the full metric century ride and one for the half metric century. Food, drink and potties will be available at all stops and at the finish.
        </div>
    </div>
        
    <div class="column">
        <img src="../../assets/images/drb logo.PNG" style="width:75%" id="drb-logo">
        <div id="caption-restStop" style="float:right">
            <a href="http://www.davesroadbikes.com" title="Dave's Road Bikes"><u>Dave's Road Bikes:</u></a> The Official Bike Shop for Leap Frog.
        </div>
    </div>
</div>

<h2><u>Questions?</u></h2>
    <div class="text">
        Email our race director at <u>leapfrogtour@gmail.com</u>
    </div>

