
<h1>The 2020 Leap Frog Bicycle Tour</h1>

<div >
    <div id="date">
        <strong>
            Saturday, June 13, 2020
            <br>8:00 a.m.
        </strong>
    </div>
</div>

<div id="ride-text">
    Enjoy one of two rides  – either a 1/2 metric century (32 miles) – which will challenge beginners and intermediate riders, or the full metric century (about 64 miles) for more experienced cyclists.
</div>

<div class="buttons">
    <a class="btn btn-success" href="https://www.active.com/felton-de/cycling/races/leap-frog-bicycle-tour-2019" role="button" title="Register Online" id="register-online">Register Online</a>
    <a class="btn btn-success" href="../../assets/2020-Leapfrog-Application-1-28-20.pdf" role="button" title="Mail In Registration" id="mail-in">Mail In Registration</a>
</div>
