h1{
    text-align: center;
    color: rgb(89, 111, 177);
    margin-left: 50px;
    margin-top: 15px;
}

h2{
    margin-left: 50px;
    margin-top: 15px;
}

#date {
    font-size: larger;
    text-align: center;
    margin-top: 15px;
}

#ride-text{
    font-size: 14pt;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 63px;
    margin-right: 63px;

}

#register-online{
    margin-left: 39%;
    margin-right: 35px;
}

.buttons{
    margin-top: 35px;
    margin-bottom: 35px;
}

.text{
    font-size: 14pt;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-right: 125px;
}

a{
    font-size: larger;
}

#route-text{
    margin-left: 50px;
    font-size: 14pt;
}

.column{
    float: left;
    width: 50%;
    padding: 5px;
    
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

img{
    max-width: 420px;
    max-height: 312px;
    margin-left: 13%;
}

#caption-restStop{
    float: right;
    margin-right: 25%;
    margin-bottom: 0;
}

.clear{
    clear: both;
}

#drb-logo{
    max-width: 300px;
    max-height: 300px;
    margin-left: 13%;
}




/* img{
    max-height: 100px;
    max-width: 250px;
    border: 5px solid rgb(166, 134, 207)
}

.row{
    float: left;
}

.clear{
    clear: both;
} */
